body{
    font-family:Comic Sans MS;
    border: 2px solid black;
    height: 155px;
}
.id{
    background-color: yellow;
    border: 2px solid black;
    position: relative;
}
#class{
    position: relative;
    left:37px;
    bottom: 68px;
    border: 2px solid black;
    width: 93%;
}
.class .id{
    width: 35px;
    position: relative;
    bottom: 18px;
}
.class span{
    position: relative;
    left: 96%;
    top: 7px;
    border-top: 2px solid black;
}
#H{
    position: relative;
    border: 2px solid black;
    text-align: end;
    width: 34%;
    left: 33%;
    bottom:68px;
}
.class{
    display: block;
    font-style:italic;
}
#id{
    position: relative;
    left: 1171px;
}
div span{
    position: relative;
    left: 1287px;
}

